/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
}

/* GENERAL SETTING*/

body {
    font-size: 16px;
}

img {
	max-width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container-medium {
	max-width: 1000px;
	margin: 0 auto;
}

.row, .card, .col {
	display: flex;
	flex-wrap: wrap;
}

.col {
    display: flex;
}

.col-1-terzo {
	flex-basis: calc(100% / 3);
}
.col-2-terzi {
	flex-basis: calc((100% / 3) * 2);
}
.col-4 {
	flex-basis: calc((100% / 12) * 4);
}

.col-12 {
	flex-basis: calc((100% / 12) * 12);
}

.button-small {
    display: inline-block; 
    color: white;
    background-color: #0061FF;
    line-height: 32px;
    padding: 0px 16px;color: white;
    background-color: #0061FF;
}

/* HEADER SETTING */

.container-fluid .row {
    justify-content: space-between;
}

 ul.nav-menu  {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.page-header .col {
    align-items: center;
}

.page-header .card {
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 25px 15px;
}
/* MAIN SETTING */

/* FOOTER SETTING */

/* DEBUG */

/* --general debug-- */

.debug .container-fluid {
    border: 3px solid rgb(255, 4, 234);
    margin: 0 auto;
}    

.debug .row {
    border: 2px solid rgb(255, 174, 1);
}    

.debug .col {
    border: 2px solid rgb(8, 8, 8);
}   

.debug .card {
    border: 1px solid rgb(0, 241, 0);
}

.debug .card > * {
    border: 1px dashed rgb(41, 50, 177);
}



/* --header-- */
/* --main-- */
/* --footer-- */

