/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
}

/* GENERAL SETTING*/

html {
	font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 16px;
}

h1 {
    font-size: 74px;
    line-height: 1.4;
	font-weight: 900;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px
}

img {
    display: block;
	max-width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

.container-medium {
	max-width: 1000px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row > [class^='col'] {
	padding: 0 25px;
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
}


.col-12 {
	flex-basis: calc((100% / 12) * 12);
}

.button {
    display: inline-block; 
    color: white;
    background-color: var(--blue);
    line-height: 42px;
    padding: 0px 16px;color: white;
}

:root {
	--blue: #0061ff;
	--light-blue: #b4d0e7;
	--dark-blue: #0d2481;
	--dark: black;
	--bordeaux: #61082b;
	--green: #a2d39b;
	--yellow: #ffd830;
	--red: #ff1c1c;
	--dark-red: #d5001f;
	--light-gray: #f5f5f5;
	--light: #ffffff;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

/* HEADER SETTING */

.page-header {
	padding: 20px 0;
	background-color: var(--light);
}

.page-header .row {
	justify-content: space-between;
	align-items: center;
}

.page-header .menu  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-menu .menu__item > * {
	line-height: 35px;
	display: block;
	padding: 0 20px;
}

.menu__item .logo-wrapper {
	padding-left: 0;
}
/* MAIN SETTING */

/*main-hero*/

.main-hero {
    background-color: var(--light-blue);
    padding-top: 80px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-content__text > * {
    margin-bottom: 35px;
}

.hero-content__icon {
    font-size: 50px;
}

/*


.main-hero .card-title {
    padding: 50px 0px;
}

.main-hero .col-1-terzo .card > * {
    margin-bottom: 35px;
}

.main-hero .col-1-terzo figure {
    font-size: 50px;
}

.main-hero .col-1-terzo .card {
    display: flex;
    flex-direction: column;
}

.col-1-terzo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

*/
/*main content*/

.main-section {
    padding-top: 80px;
}

.input-box {
    display: inline-block;
    margin-right: 30px;
}

input {
    margin-right: 5px;
}
/*
.main-content .main-section .container :nth-child(3) {
    gap: 50px;
    flex-wrap: nowrap;
}

.main-content .main-section .container [class^="col-4"] {
    border: 3px solid #F5F5F5;
}

.main-content .main-section .container [class^="col-4"] .card > *:not(.card-header) {
   padding: 0px 20px;
}

.main-content .main-section .container .col-4 [class^="card-"] > *:not(ul) {
    padding: 10px 0px;
}

.main-content .main-section .container .col-4 [class^="card-"] ul > li {
    padding: 10px 0px;
}

.main-content .main-section .container [class^="col-4"] .card-header {
    border-bottom: 3px solid #F5F5F5;
    display: flex;
    justify-content: center;
}

.main-content .main-section .container [class^="col-4"] .card-header > {
    padding: 5px 0px;
}

.main-content .main-section .container [class^="col-4"] .card-button {
    display: flex;
    flex-direction: column;
    text-align: center;
}

*/

/* FOOTER SETTING */

/* DEBUG */

/* --general debug-- */

.debug .container-fluid {
    border: 3px solid rgb(255, 4, 234);
    margin: 0 auto;
}    

.debug .row {
    border: 2px solid rgb(255, 174, 1);
}    

.debug .col {
    border: 2px solid rgb(8, 8, 8);
}   

.debug .card {
    border: 1px solid rgb(0, 241, 0);
}

.debug .card > * {
    border: 1px dashed rgb(41, 50, 177);
}



/* --header-- */
/* --main-- */
/* --footer-- */

