/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
}

/* GENERAL SETTING*/

html {
	font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 16px;
    font-weight: 300;
}

h1 {
    font-size: 74px;
    line-height: 1.4;
	font-weight: 900;
}

h2 {
    font-size: 44px;
    font-weight: 700;
}

h3 {
    font-size: 26px;
}

img {
    display: block;
	max-width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

.container-medium {
	max-width: 1000px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row > [class^='col'] {
	padding: 0 25px;
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
}


.col-12 {
	flex-basis: calc((100% / 12) * 12);
}

.button {
    display: inline-block; 
    color: white;
    background-color: var(--blue);
    line-height: 42px;
    padding: 0px 16px;color: white;
    text-align: center;
    white-space: nowrap;
}

:root {
	--blue: #0061ff;
	--light-blue: #b4d0e7;
	--dark-blue: #0d2481;
	--dark: black;
	--bordeaux: #61082b;
	--green: #a2d39b;
	--yellow: #ffd830;
	--red: #ff1c1c;
	--dark-red: #d5001f;
	--light-gray: #f5f5f5;
    --dark-gray: #dbdbdbc0;
	--light: #ffffff;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

/* HEADER SETTING */

.page-header {
	padding: 20px 0;
	background-color: var(--light);
}

.page-header .row {
	justify-content: space-between;
	align-items: center;
}

.page-header .menu  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-menu .menu__item > * {
	line-height: 35px;
	display: block;
	padding: 0 20px;
}

.menu__item .logo-wrapper {
	padding-left: 0;
}
/* MAIN SETTING */

/*main-hero*/

.main-hero {
    background-color: var(--light-blue);
    padding-top: 80px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-content__text > * {
    margin-bottom: 35px;
}

.hero-content__icon {
    font-size: 50px;
}

/*main content*/

.main-section {
    padding-top: 80px;
}

.bill-rate__selection {
	display: flex;
	gap: 32px;
}

.bill-rate__group {
	display: flex;
	align-items: center;
	gap: 14px;
}

.bill-rate__group > input {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-color: transparent;
	appearance: none;
	margin-bottom: 2px;
}

.bill-rate__group > input:checked {
	border: 5px solid var(--blue);
}

.card-bisness-plan > * {
    padding: 0px 20px;
}

.card-bisness-plan ul li,
.card-bisness-plan .card-header {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.card-bisness-plan .card-header {
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.card-title li:first-child {
   margin-top: 25px;
   font-weight: bold;
}

.card-bisness-plan {
    display: flex;
    flex-direction: column;
    gap: 55px;
    border: 2px solid var(--dark-gray);
}
.card-bisness-plan > :last-child {
    margin-bottom: 55px;
}
.card-bisness-plan .card-header {
    border-bottom: 2px solid var(--dark-gray);
}

.card-bisness-plan .card-button {
    display: flex;
    flex-direction: column;
    gap: 35px;
    
}

.buy-now {
    display: flex;
    gap: 5px;
}

.buy-now p {
    padding-bottom: 40px;
    margin-right: 5px;
    border-bottom: 1px solid var(--dark-gray);
}

.buy-now a {
    text-decoration: underline;
    color: var(--blue);
}

.main-section .card-bisness-plan li:not(li:last-child) {
    margin-bottom: 20px;
 }

 .card-text h4 {
    margin-bottom: 35px;
 }

 .main-section .row {
    row-gap: 50px
 }

 .card-bisness-plan.card-bottom .col-8 {
	padding-left: 0px;
	padding-right: 25px;
}

.card-bisness-plan.card-bottom .col-8 > * {
	padding: 0px 20px;
    margin-bottom: 55px;
}

.card-bisness-plan.card-bottom .col-4 {
	padding-left: 25px;
	padding-right: 0px;
}

.card-bisness-plan.card-bottom .col-4 > * {
	padding: 0px 20px;
}

.card-bottom .card-body {
    padding: 0px;
}
/* FOOTER SETTING */

/* DEBUG */

/* --general debug-- */

.debug .container-fluid {
    border: 3px solid rgb(255, 4, 234);
    margin: 0 auto;
}    

.debug .row {
    border: 2px solid rgb(255, 174, 1);
}    

.debug [class^="col"] {
    border: 2px solid rgb(8, 8, 8);
}   

.debug [class^="card"] {
    border: 1px solid rgb(0, 241, 0);
}

.debug [class^="card"] > * {
    border: 1px dashed rgb(41, 50, 177);
}

.left-side {

}

.right-side {

}
/* --header-- */
/* --main-- */
/* --footer-- */

